<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <div class="form-field">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
    @if (name?.invalid && (name?.dirty || name?.touched)) {
    <div class="error-messages">
      @if (name?.errors?.['required']) {
      <small class="text-danger">Name is required.</small>
      }
    </div>
    }
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    @if (email?.invalid && (email?.dirty || email?.touched)) {
    <div class="error-messages">
      @if (email?.errors?.['required']) {
      <small class="text-danger">Email is required.</small>
      }
      @if (email?.errors?.['email']) {
      <small class="text-danger">Please enter a valid email.</small>
      }
    </div>
    }
  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
    @if (password?.invalid && (password?.dirty || password?.touched)) {
    <div class="error-messages">
      @if (password?.errors?.['required']) {
      <small class="text-danger">Password is required.</small>
      }
      @if (password?.errors?.['minlength']) {
      <small class="text-danger">Password must be at least 6 characters long.</small>
      }
    </div>
    }
  </div>

  <button type="submit">Submit</button>
</form>

@if (submittedData) {
<div class="submitted-details">
  <h3>Submitted Details:</h3>
  <pre>{{ submittedData | json }}</pre>
</div>
}