<h3>User Registration Form</h3>

<form [formGroup]="userForm" (ngSubmit)="submitForm()">

  <label>Name</label>
  <input type="text" formControlName="name">

  <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
    Name is required
  </div>

  <br><br>

  <label>Email</label>
  <input type="email" formControlName="email">

  <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
    Valid email required
  </div>

  <br><br>

  <label>Password</label>
  <input type="password" formControlName="password">

  <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.invalid">
    Minimum 6 characters required
  </div>

  <br><br>

  <button type="submit">Submit</button>

</form>
